body {
    height: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 150px;
}

.section1, .section2 {
    display: flex;
    flex-direction: column;
}

.continue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
}

h3 {
    font-size: 24px #F9FAF8;
    margin-bottom: 60px;
}

h1 {
    font-size: 48px #F9FAF8;
    font-weight: bolder;
    margin-bottom: -10px;
}

.right-links {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 100px;
}

a, #hero-text {
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    height: 235px;
    width: 510px;
    align-self: flex-end;
}

#first-button {
    padding: 10px 36px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px #3882F6;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.csection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 25px;
}

#info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 52px;
    margin-top: 25px;
}

.under {
    display: flex;
    flex-direction: column;
    width: min-content;
    text-align: center;
    color: #595959;
}

.box {
    border-radius: 25px;
    border: 6px solid #3882F6;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.csection2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 500px;
    background-color: #E5E7EB;
}

#quote {
    font-size: 36px;
    color: #1F2937;
}

#thunder {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}

.csection3 {
    display: flex;
    flex-direction: column;
    padding: 120px 300px;
}

.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    padding: 35px 190px;
}

.half1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}

#call {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: -15px;
}

#there {
    font-size: small;
}

#second-button {
    padding: 10px 36px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    font-weight: bold;
}

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 36px;
}